@import "__variables.less";
@import "__mixins.less";
.header {
    min-height: 525px;
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-color: @mainWhite;
}

.wrap {
    width: @displayWrap;
    margin: 0 auto;
}

.headerMenu {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 46px;
}

.headerPadding {
    padding-top: 27px;
}

.headerMainMenu {
    flex-grow: 1;
    padding-left: 130px;
    padding-top: 10px;
}

.headerBurger {
    display: none;
}

.mainMenuItems {
    display: flex;
    justify-content: space-between;
}

.mainMenuItem {
    list-style-type: none;
}

.mainMenuLink {
    .siteLinks .headerDesktopLink();
}

.headerSendContainer {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 748px;
}

.headerHeading {
    text-transform: uppercase;
    font-size: 48px;
    margin-bottom: 30px;
    color: @mainWhite;
}

.headerDescribe {
    font-weight: 700;
    margin-bottom: 40px;
    font-size: 36px;
    color: @mainWhite;
}

.sendButton {
    .buttonStyle .desktop();
}

.sendButton:hover {
    .buttonStyle .hover();
}

.sendButton:active {
    .buttonStyle .pressed();
}

.yellowButton {
    .buttonStyle .yellowBg();
    margin-bottom: 10px;
}

.about {
    background-color: #f7f7f7;
    padding-top: 60px;
    padding-bottom: 30px;
}

.aboutBlock {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.aboutImage {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 100%;
}

.aboutHeading {
    font-size: 36px;
    font-weight: 700;
}

.aboutDesc {
    font-size: 16px;
    font-weight: 400px;
}

.stepsBlock {
    display: grid;
    grid-column-gap: 80px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 50px;
}

.step {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.stepImage {
    width: 100%;
    margin-bottom: 10px;
}

.stepHeading {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
}

.stepDesc {
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.stepResume {
    background-color: #f7f7f7;
}

.stepsResumeBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 180px;
}

.stepResumeHeading {
    font-size: 36px;
    font-weight: 700;
}

.callbackBlock {
    display: grid;
    grid-template-columns: 64% 31%;
    grid-column-gap: 60px;
}

.callbackDesk {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.callbackForm {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.callbackHeader {
    font-size: 48px;
}

.callbackDesk {
    font-size: 24px;
}

.callbackPhoneInput {
    .textInputStyle .desktop();
}

.feedback {
    height: 410px;
}

.feedbackTitle {
    margin: 60px 0 40px;
    font-size: 36px;
    font-weight: 700;
    color: @mainDarkGrey;
}

.feedbackSlider {
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    padding: 20px 110px;
}

.sliderBlock {
    position: relative;
    margin: 0;
    grid-template-columns: 40% 55%;
    grid-column-gap: 5%;

}

.feedbackBlockImg {
    width: 160px;
}

.feedbackName {
    font-size: 36px;
}

.feedbackProfession {
    font-size: 20px;
}

.feedbackPackageType,
.feedbackPackageFrom,
.feedbackPackageTo,
.feedbackArticle {
    font-size: 16px;
}

#feedback_1:checked ~ #sliderBlock2,
#feedback_2:checked ~ #sliderBlock3,
#feedback_3:checked ~ #sliderBlock1 {
    visibility: visible;
}

#feedback_1:checked ~ #sliderBlock3,
#feedback_2:checked ~ #sliderBlock1,
#feedback_3:checked ~ #sliderBlock2 {
    display: none;
}

#feedback_3:checked ~#sliderBlock3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#feedback_3:checked ~#sliderBlock1 {
    grid-column-start: 2;
    grid-column-end: 3;
}