@import "__variables.less";
@import "__mixins.less";
.header {
    min-height: 525px;
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-color: @mainWhite;
}

.wrap {
    width: @displayWrap;
    margin: 0 auto;
}

.headerMenu {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 46px;
}

.headerPadding {
    padding-top: 27px;
}

.headerMainMenu {
    flex-grow: 1;
    padding-left: 130px;
    padding-top: 10px;
}

.headerBurger {
    display: none;
}

.mainMenuItems {
    display: flex;
    justify-content: space-between;
}

.mainMenuItem {
    list-style-type: none;
}

.mainMenuLink {
    .siteLinks .headerDesktopLink();
}

.headerSendContainer {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 748px;
}

.headerHeading {
    text-transform: uppercase;
    font-size: 48px;
    margin-bottom: 30px;
    color: @mainWhite;
}

.headerDescribe {
    font-weight: 700;
    margin-bottom: 40px;
    font-size: 36px;
    color: @mainWhite;
}

.sendButton {
    .buttonStyle .desktop();
}

.about {
    background-color: #f7f7f7;
    padding-top: 60px;
    padding-bottom: 30px;
}

.aboutBlock {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.aboutImage {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 100%;
}

.aboutHeading {
    font-size: 36px;
    font-weight: 700;
}

.aboutDesc {
    font-size: 16px;
    font-weight: 400px;
}