@import "__variables.less";
.header {
    min-height: 505px;
    background-image: url(../img/bg1_3.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-color: @mainWhite;
}

.wrap {
    width: @mobileWrap;
    margin: 0 auto;
}