//out: ../css/style.css
@import "__variables.less";
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Myriad Pro', sans-serif;
}

@media (max-width: 320px) {
    @import "mobile.less";
}

@media (max-width: 768px) and (min-width: 321px) {
    .header {
        background-image: url(../img/bg1_2.jpg);
    }
}