@import "__variables.less";
@import "__mixins.less";
.header {
    min-height: 415px;
    background-image: url(../img/bg1_2.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-color: @mainWhite;
}

.wrap {
    width: @tabletWrap;
    margin: 0 auto;
}

.headerMenu {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 29px;
}
.headerPadding {
    padding-top: 27px;
    
}
.headerMainMenu {
    flex-grow: 1;
    padding-left: 20px;
    padding-top: 8px;
}
.headerBurger {
    display: none;
}

.mainMenuItems {
   
    display: flex;
    justify-content: space-between;
}
.mainMenuItem {
    list-style-type: none;
}
.mainMenuLink {
    .siteLinks .headerLink();  
}

.headerSendContainer {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
}

.headerHeading {
    text-transform: uppercase;
    font-size: 44px;
    margin-bottom: 10px;
    color: @mainWhite;
    
}
.headerDescribe {
    font-weight: 700;
    margin-bottom: 40px;
    font-size: 26px;
    color: @mainWhite;
}
.sendButton {
    .buttonStyle .mobile();
}